.minicart-drawer {
    background-color: white;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    left: 0;
    max-width: 360px;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translate3d(101vw, 0, 0);
    transition-property: opacity, transform, visibility;
    width: 100%;
    z-index: 3;
    transition-duration: 384ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    &.active {
        box-shadow: rgb(223, 225, 226) 1px 0px 0px 0px;
        transform: translate3d(calc(100vw - 100%), 0, 0);
        opacity: 1;
        visibility: visible;
        transition-duration: 192ms;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }
}
